HelloWorld/.classpath
HelloWorld/.project
HelloWorld/.settings/org.eclipse.jdt.core.prefs
HelloWorld/bin/.gitignore
Ereditarieta/.classpath
Ereditarieta/.project
Ereditarieta/.settings/org.eclipse.jdt.core.prefs
Ereditarieta/bin/.gitignore
